.site-footer {	    
	background-color: #f9f9f9;
    user-select: none
}

.footer-header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee
}

.footer-header span {  
    margin-left: 20px;  
    color: #555;
    font-size: 17px;    
}

.footer-nav {    
    font-size: 16px;
}

.footer-nav dl {
    float: left;
}

.footer-nav dl:not(:last-child) {
    margin-right: 6%;
}

.footer-nav dt {
    font-size: 17px;
    color: #555;
    padding: 10px 20px;   
}

.footer-nav dd {
    padding: 10px 20px;
}

.footer-nav dd a {
    color: #666;    
}

.footer-copyright {
    margin-left: 20px;
    color: #666;
}