.site-header .outter {
	padding: 6% 0;
	position: relative;
}

.site-header .inner {
	position: absolute;
	
	overflow: hidden;
}

.site-header .inner::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/bg.jpg) center / 100% no-repeat;
	filter: blur(5px);
}

.header-content {
	position: absolute;
}

.header-avatar {
	position: absolute;
	width: 75px;
	height: 75px;
	background: url(../images/avatar.jpg) center / cover no-repeat;
	border-radius: 50%;
}

.header-content .slogan {
	position: absolute;
	bottom: 10px;
	font-size: 25px;
	font-weight: 500;
	color: white;
	letter-spacing: 16px;
}