body {
	min-width: 830px;		
}

.site-content .directory-structure {
	float: left;
	min-width: 150px;
	max-width: 280px;
	height: 100%;
	overflow: auto;
}

.directory-structure ul {
	counter-reset: level;
	padding: 4px 1em 0;
	border-radius: 5px;
}

.directory-structure details {
	margin: 10px 0;	
	cursor: pointer;
}

.directory-structure summary::marker,
.directory-structure summary::-webkit-details-marker {
    display: inline-block;
    font-family: "iconfont" !important;
	content: "\e7a7";
	color: #5FA8D3;
	font-size: 18px;
}


.directory-structure summary::before,
.directory-structure .leaf-node a::before {
	counter-increment: level;
	content: counters(level, ".") ".";
	margin-right: 4px;
	padding-left: 4px;	
}

.directory-structure .category-label {
	font-weight: bold;
}

.directory-structure .leaf-node a {
    display: block;
    padding: 6px;      
	border-radius: 5px;
	transition: background-color .4s;
}

.directory-structure .leaf-node a:hover {
    background: #f0f0f0;
}

.directory-structure .leaf-node a.active {
    background: #e8f5e9;
}

.directory-structure .leaf-node a {
	text-decoration: none;
	color: #333;
}

.directory-structure .leaf-node a::before  {
	color: #ff7f0e;
    font-weight: 500;
}

.directory-structure > ul > li > details > summary::before {
	color: #007bff;
}

.directory-structure > ul > li > details > ul > li > details > summary::before {
	color: #28a754;
}

.site-content .main-content {
	float: left;
	height: 100%;
}

.main-content iframe {
	width: 100%;
	height: 100%;
}