.search-wrapper {    
    position: relative;    
    width: fit-content;    
    padding: 20px 30px;
    z-index: 0;
}

.search-wrapper .search-bar {
    width: 300px;
    height: 38px; 
    line-height: 38px;
    background: #f9f9f9;   
    border: 1px solid #eee;
    border-radius: 38px;
    transition: border-color .2s;
}

.search-bar:focus-within {
    border-color: #5FA8D3;
}

.search-bar span {
    margin: 0 10px;
    font-family: "iconfont" !important; 
    color: #333;  
}

.search-bar input {
    width: 250px;  
    outline: none;
    border: none;
    background: transparent;    
}

.search-bar input::placeholder {
    font-size: 15px;
    color: #777;
}

.search-result {
    position: absolute;
    left: 32px;
    right: 32px;
    max-height: 500px;
    overflow: auto;
    top: 60%;    
    background: rgba(255, 255, 255, .9);
    border-radius: 0 0 3px 3px;    
    z-index: -1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1)
}

.search-result a {
    display: block;
    text-decoration: none;
    color: #333;    
    padding: 10px 20px;
}

.search-result a.active {
    background: #e8f5e9;
}

.search-result li:first-child a {
    margin-top: 20px;
}